/* gallery display */
body {
  margin-left: 35px;
  font-family: 'Calibri';
}

h1 {
  margin-left: 15px;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 19px;
}

a {
  text-decoration: none;
}

.employee-profile {
  width: 400px;
  height: 155px;
  border: 2px solid lightgrey;
  border-radius: 5px;
  margin: 10px 15px;
  float: left;
}

.employee-profile:hover {
  background-color: #ededed;
}

.employee-picture {
  margin: 23px 25px;
  border-radius: 50%;
  width: 110px;
  height: 110px;
}

.employee-picture-details {
  margin-top: 35px;
  border-radius: 50%;
  width: 135px;
  height: 135px;
}

.employee-info {
  margin-top: 35px;
  float: right;
  width: 235px;
  line-height: 5px;
}

p {
  text-transform: capitalize;
  color: darkgrey;
  font-size: 1em;
}

.name {
  font-weight: 900;
  font-size: 1.2em;
  color: black;
  letter-spacing: 1px;
}

.email {
  text-transform: none;
}

.modalDialog {
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background: rgba(0,0,0,0.8);
	z-index: 99999;
	opacity:0;
	-webkit-transition: opacity 400ms ease-in;
	-moz-transition: opacity 400ms ease-in;
	transition: opacity 400ms ease-in;
	pointer-events: none;
  text-align: center;
}

.modalDialog:target {
	opacity:1;
	pointer-events: auto;
}

.modalDialog > div {
	width: 400px;
	position: relative;
	margin: 10% auto;
	padding: 5px 20px 13px 20px;
	border-radius: 10px;
	background: #fff;
}

.modalDialog a:hover {
  color: #7cffb5;
}

.next {
  font-size: 25px;
	background: #fff;
	color: #000;
  position: relative;
  left: 20px;
	width: 30px;
	text-decoration: none;
}

.prev {
  font-size: 25px;
	background: #fff;
	color: #000;
  position: relative;
  right: 20px;
	width: 30px;
	text-decoration: none;
}

.close {
	background: #fff;
	color: #000;
	line-height: 25px;
	position: absolute;
	right: 3px;
	top: 3px;
	width: 24px;
	text-decoration: none;
	font-weight: bold;
	border-radius: 12px;
}

hr {
  height: 1px;
  color: lightgrey;
  background-color: lightgrey;
  border: none;
}

#filterSection {
  margin-left: 17px;
